body{
    background-image: url("../../../assets/imagenes/bar-1869656_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    
}
p{
    color: beige;
}
